@font-face {
  font-family: seal;
  src: url("@/assets/fonts/seal.otf");
}

@keyframes run {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run-result {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run-table {
  0% {
    transform: rotateX(30deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(30deg) rotateZ(360deg);
  }
}

@keyframes turtle {
  0% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.guess-mask-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  .guess-btn-mask {
    display: flex;
    position: fixed;
    top: 200px;
    left: 50%;
    z-index: 9;
    margin-left: -200px;
    width: 400px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    div {
      width: 160px;
      height: 40px;
      font-size: 22px;
      line-height: 1.8;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }
  .guess-wrapper {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    animation: show 1s ease;
    .guess-background {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: url("@/assets/images/table.png") no-repeat center;
      background-size: auto 101%;
      opacity: .6;
      box-shadow: 0 10px 40px 10px rgb(255 255 255 / 28%);
      transform: rotateX(30deg);
      animation: run-table 60s  linear infinite;
    }

    .container-wrapper {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 9;
      margin-left: -150px;
      width: 300px;
      height: 150px;
      align-items: center;
      justify-content: center;
      .container-content2 {
        width: 160px;
        height: 160px;
        &.run {
          animation: turtle 1s ease-out;
        }
        background: url("@/assets/images/turtle.png") no-repeat center;
        background-size: 100%;
      }
    }
  }
  .guess-result {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    .guess-result-divination {
      font-family: seal !important;
      font-size: 20px;
      opacity: 1;
      transition: font-size 1s, opacity 1s;
    }
    .guess-result-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 300px;
      height: 300px;
      background: url("@/assets/images/background.png") no-repeat center;
      background-size: 100% auto;
      &.run {
        animation: run-result 3s  linear infinite;
      }
    }
    .guess-result-item-yin,
    .guess-result-item-yang {
      z-index: 9;
      margin-bottom: 8px;
      width: 80px;
      height: 10px;
      animation: show 1s ease;
    }
    // 一横
    .guess-result-item-yang {
      background-color: #fff;
    }
    // 两横
    .guess-result-item-yin {
      display: flex;
      justify-content: space-between;
      &::before,
      &::after {
        width: 35px;
        height: 10px;
        background-color: #fff;
        content: "";
      }
    }
  }
}
