.home-wrapper {
  margin: 0 auto;
  height: 100vh;
  .home-tab-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 20px auto;
    width: 500px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    div {
      width: 160px;
      height: 40px;
      font-size: 20px;
      line-height: 2;
      text-align: center;
      color: #fff;
      background: url("@/assets/images/btn_bg.png") no-repeat center;
      background-size: 100% auto;
      opacity: .7;
      cursor: pointer;
      &.active {
        opacity: 1;
      }
    }
  }
  .home-content {
    display: flex;
    height: calc(100% - 80px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
